<html>
<head>
  <title>POINT SHARE</title>
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/style.css">
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dist/sweetalert.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/css/style.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/animate.css/animate.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/css/style.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/mbr-additional.css" type="text/css">
</head>
<body>
<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a class="navbar-caption" href="/"><img class="col-md-7 col-xs-6" src = "http://cdn.rawgit.com/kirananto/RESOURCES/master/images/logo.png" /></a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="/about/">ABOUT</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
<section class="engine"></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-1" style="background: url(http://cdn.rawgit.com/kirananto/RESOURCES/master/images/jumbotron.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

    

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
  <div class="login-page">
      <h2 class="text-xs-center text-md-center" style="color: white">External Login</h2>
    <div class="form">
       <p style="color: white"><b>{{obj}}</b></p>
      <form class="login-form" action="/loginext/" method="POST">{% csrf_token %}
        <input type="text" name = "username" placeholder="username" />
        <input type="password" name = "password" placeholder="password" />
        <button name = "sub" value = "Submit">login</button>
        <p class="message">Not External User? <a href="/">Login Here</a></p>
        
      </form>
    </div>
  </div></div></div></div>
  </section>
  <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-d" style=" padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 PointShare.</p>
    </div>
</footer>
   <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/web/assets/jquery/jquery.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/smooth-scroll/SmoothScroll.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/js/script.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/jarallax/jarallax.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/js/script.js"></script>
</body>
</html>
