<html>
<head>
<script type="text/javascript">
  var files123;
</script>
  <title>pointShare</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/style.css">
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dist/sweetalert.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/css/style.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/animate.css/animate.min.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/css/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://cdn.rawgit.com/kirananto/RESOURCES/master/additional/css/mbr-additional.css" type="text/css">
</head>
<body>
<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a class="navbar-caption" href="/"><img class="col-md-7 col-xs-6" src = "http://cdn.rawgit.com/kirananto/RESOURCES/master/images/logo.png" /></a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                      <li class="nav-item"><a class="nav-link link" href="/about/">ABOUT</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-white btn-white-outline" href="/logout/">LOG OUT</a></li>
                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
<section class="engine"></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-1" style="background: url(http://cdn.rawgit.com/kirananto/RESOURCES/master/images/jumbotron.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">



    <div class="mbr-table-cell " style="padding-top: 50px;">

        <div class="container">

        <div class ="row text-xs-center">
  <button class ="btn col-md-offset-1 col-md-5 btn-primary" onclick="showModal_decrypt()">Decrypt</button>
            
 <button class ="btn col-md-offset-1 col-md-5 btn-primary" onclick="showModal()">Encrypt</button>
</div>
          <div class="row">
          <div class="card col-md-10 text-xs-center text-md-center mbr-section-full" style="height: 300px; ">
            <div id="dragandrophandler-inbox" style="height: 100%"><center><br>
            
                        <table class="table table-hover" style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th>From</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            {% for item in obj %}
                            <tbody>
                                <tr>
                                    <td>{{ item.from }}</td>
                                    <td>{{ item.subject }}</td>
                                    <td>{{ item.date }}</td>
                                    <td><button class="btn btn-primary" onclick="window.location='/downloadattachment/{{ item.id }}/'">Download</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

            <input type="file" class="file" id="attachement_decrypt" name="attachement_decrypt" style="display: none;" onchange="fileSelected_decrypt(this)"/></div></div>
</div>
</div>
  </section>

<script type="text/javascript">
function openAttachment_decrypt() {
  document.getElementById('attachement_decrypt').click();
}

function fileSelected_decrypt(input){
  //alert("FileSelectd : "+input.files[0].name);
  handleFileUpload_decrypt(input.files);
//  document.getElementById('btnAttachment').value = "File: " + input.files[0].name
}
function openAttachment_encrypt() {
  document.getElementById('attachement_encrypt').click();
}

function fileSelected_encrypt(input){
  //alert("FileSelectd : "+input.files[0].name);
  handleFileUpload_encrypt(input.files);

//  document.getElementById('btnAttachment').value = "File: " + input.files[0].name
}

// function send_file_encrypt(sub,email,file) {
//     method = method || "post"; // Set method to post by default if not specified.
//     var path="/send/";
//     var method="GET";
//     alert("HELOOO"+sub+"----"+email+"----"+file.name);
//    // alert("Hi"+files[0].name);
//     // The rest of this code assumes you are not using a library.
//     // It can be made less wordy if you use one.
//     var form = document.createElement("form");
//     form.setAttribute("method", method);
//     form.setAttribute("action", path);

//             var hiddenField = document.createElement("input");
//             hiddenField.setAttribute("email", email);
//             hiddenField.setAttribute("message", sub);
//             hiddenField.setAttribute("file", file);

//             form.appendChild(hiddenField);

//     document.body.appendChild(form);
//     form.submit();
//     document.body.removeChild(form);
// }
</script>

<script type="text/javascript">
    function send_file_encrypt(sub,email,file) {
alert("insd");
      var xhr = new XMLHttpRequest();
xhr.open("POST", /send/, true);
var formData = new FormData();
formData.append("file", file);
formData.append("email", email);
formData.append("message", sub);
xhr.setRequestHeader("Content-Type","multipart/form-data");
xhr.send(formData);
    }
</script>

  <!-- FOR INBOX JAVASCRIPT -->
  <script type="text/javascript">
  //   var obj = $("#dragandrophandler-inbox");
  // obj.on('dragenter', function (e)
  // {
  //   e.stopPropagation();
  //   e.preventDefault();
  //   $(this).css('border', '2px solid #0B85A1');
  // });
  // obj.on('dragover', function (e)
  // {
  //    e.stopPropagation();
  //    e.preventDefault();
  // });
  // obj.on('drop', function (e)
  // {

  //    $(this).css('border', '2px dotted #0B85A1');
  //    e.preventDefault();
  //    var files = e.originalEvent.dataTransfer.files;

  //    //We need to send dropped files to Server
  //    handleFileUpload_decrypt(files);
  // });
  // $(document).on('dragenter', function (e)
  // {
  //   e.stopPropagation();
  //   e.preventDefault();
  // });
  // $(document).on('dragover', function (e)
  // {
  // e.stopPropagation();
  // e.preventDefault();
  // obj.css('border', '2px dotted #0B85A1');
  // });
  // $(document).on('drop', function (e)
  // {
  //   e.stopPropagation();
  //   e.preventDefault();
  // });
  function handleFileUpload_decrypt(files)
  {
    //alert("Hi"+files[0].name);
   for (var i = 0; i < files.length; i++)
   {
    $('.form-popup-decrypt').modal({ show: true, })
    sendFileToServer(fd,status);
       //alert("HELLO"+files.length);
        var fd = new FormData();
        fd.append('file', files[i]);

        //var status = new createStatusbar(obj); //Using this we can set progress.
        status.setFileNameSize(files[i].name,files[i].size);

   }
  }

  function showModal()
  {
    $('.form-popup-encrypt').modal({ show: true, });    
  }

   function showModal_decrypt()
  {
    $('.form-popup-decrypt').modal({ show: true, });    
  }
  // function sendFileToServer_encrypt(formData,status)
  // {
  // //alert("HELOOOO")
  //   var uploadURL ="/send/"; //Upload URL
  //   var extraData ={}; //Extra Data.
  //   var jqXHR=$.ajax({
  //           xhr: function() {
  //           var xhrobj = $.ajaxSettings.xhr();
  //           if (xhrobj.upload) {
  //                   xhrobj.upload.addEventListener('progress', function(event) {
  //                       var percent = 0;
  //                       var position = event.loaded || event.position;
  //                       var total = event.total;
  //                       if (event.lengthComputable) {
  //                           percent = Math.ceil(position / total * 100);
  //                       }
  //                       //Set progress
  //                       status.setProgress(percent);
  //                   }, false);
  //               }
  //           return xhrobj;
  //       },
  //       url: uploadURL,
  //       type: "POST",
  //       contentType:false,
  //       processData: false,
  //       cache: false,
  //       data: formData,
  //       success: function(data){
  //           status.setProgress(100);

  //           //$("#status1").append("File upload Done<br>");
  //       }
  //   });

  //   status.setAbort(jqXHR);
  // }
  </script>

  <script type="text/javascript">
//     var obj = $("#dragandrophandler-outbox");
// obj.on('dragenter', function (e)
// {
//     e.stopPropagation();
//     e.preventDefault();
//     $(this).css('border', '2px solid #0B85A1');
// });
// obj.on('dragover', function (e)
// {
//      e.stopPropagation();
//      e.preventDefault();
// });
// obj.on('drop', function (e)
// {

//      $(this).css('border', '2px dotted #0B85A1');
//      e.preventDefault();
//      var files = e.originalEvent.dataTransfer.files;

//      //We need to send dropped files to Server
//      handleFileUpload_encrypt(files,obj);
// });
// $(document).on('dragenter', function (e)
// {
//     e.stopPropagation();
//     e.preventDefault();
// });
// $(document).on('dragover', function (e)
// {
//   e.stopPropagation();
//   e.preventDefault();
//   obj.css('border', '2px dotted #0B85A1');
// });
// $(document).on('drop', function (e)
// {
//     e.stopPropagation();
//     e.preventDefault();
// });
function handleFileUpload_encrypt(files)
{
  files123 = files[0];
   for (var i = 0; i < files.length; i++)
   {
    $('.form-popup-encrypt').modal({ show: true, })
    //sendFileToServer(fd,status);
       //alert("Hi"+files[0]);
        var fd = new FormData();
        fd.append('file', files[i]);

        //var status = new createStatusbar(obj); //Using this we can set progress.
        //status.setFileNameSize(files[i].name,files[i].size);

   }
}

  </script>












  <!-- popup box modal starts here -OUTBOX-->
<div class="modal fade form-popup-encrypt" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
<div class="modal-dialog modal-md">
<div class="modal-content">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 class="modal-title"> ENCRYPT FILES </h3>
</div>
<div class="modal-body">
<!-- form code starts here -->
<form class="form-horizontal tpad" method="POST" enctype="multipart/form-data" role="form"> {% csrf_token %}
<div class="form-group">
<div class="col-lg-12">
<input type="email" class="form-control" id="email" name="email" placeholder="EMAIL">
</div>

</div>
<br><br>
<div class="form-group tpad">
<div class="col-lg-12" >
<input type="text" class="form-control" rows="1" id="message" name="message" placeholder="Subject..."/>

</div>
</div>
<br><br>
<div class="form-group tpad">
<label for="file" class="col-lg-2 control-label"> </label>
<div class="col-lg-8 btn btn-secondary" >
 <input type="file" name="file" >Select File</input>
<!-- <input type="file" name="file" class="btn btn-primary btn-lg col-md-8 col-md-offset-2"   > -->



<!-- <div class="btn btn-secondary col-md-8 text-xs-center" style="position: relative;
    overflow: hidden;
    margin: 10px;">
   
</div> -->

</div>
</div>
<br>
<div class="form-group tpad">
 <div class="row">
<button type="submit" class="btn btn-primary btn-lg col-md-8 col-md-offset-2"  formaction="/send/">Send</button></div> <div class="row">
<button type="submit"  class="btn btn-primary btn-lg col-md-8 col-md-offset-2"  formaction="/downloadenc/">Download</button></div>


<!-- <div>
  <div class="row">
<a data-toggle="modal" class="btn btn-primary btn-lg col-md-8 col-md-offset-2" 
  onclick="send_file_encrypt(document.getElementById('message').value,document.getElementById('email').value,files123)">Send</a> </div><div class="row">
<a data-toggle="modal" class="btn btn-primary btn-lg col-md-8 col-md-offset-2" onclick="download_file_encrypt()">Download</a></div>
</div> -->
</div>
</form>
<!-- form code ends here -->
<div class="modal-footer">
<br><center>
<a href="google.com">Powered by PointShare </a></center>
</div>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal-->
<!-- popup box modal ends -FOR OUTBOX-->

<!-- popup box modal starts here -FOR INBOX -->
<form method="POST" action="/decrypt/" enctype="multipart/form-data">{% csrf_token %}

<div class="modal fade form-popup-decrypt" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
<div class="modal-dialog modal-md">
<div class="modal-content">
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 class="modal-title"> DECRYPTED FILE</h3>
</div>
<div class="modal-body">
  <center><div><img src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_file_download_black_24px.svg"/></div>
    <br>
    <div class="form-group tpad">
<label for="file" class="col-lg-2 control-label"> </label>
<div class="col-lg-8 btn btn-secondary" >
 <input type="file" name="file"   >Select File </input>
<!-- <input type="file" name="file" class="btn btn-primary btn-lg col-md-8 col-md-offset-2"   > -->



<!-- <div class="btn btn-secondary col-md-8 text-xs-center" style="position: relative;
    overflow: hidden;
    margin: 10px;">
   
</div> -->
<style type="text/css">
  .col-lg-8.btn.btn-secondary {
    background-color: #d32f2f;
}
.col-lg-8.btn.btn-secondary:hover {
    background-color: #f44336;
}
</style>

</div>
</div>

<!-- <input type="file" name="file"/> --><div class = "row">
<input type="submit" name="submit" class="btn btn-primary btn-lg col-md-8 col-md-offset-2" value="Download" ></div>
  
</form>
</center>
<br><br>
<!-- form code ends here -->

<div class="modal-footer text-xs-center">
<br>
<div class="row">
<a href="google.com">Powered by PointShare </a>
</div>
</div>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal-->
<!-- popup box modal ends -INBOX-->
<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-d" style="padding-top: 1.75rem; padding-bottom: 1.75rem;">



    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 PointShare.</p>
    </div>
</footer>
   <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/web/assets/jquery/jquery.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/tether/tether.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/smooth-scroll/SmoothScroll.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/dropdown/js/script.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/jarallax/jarallax.js"></script>
  <script src="http://cdn.rawgit.com/kirananto/RESOURCES/master/theme/js/script.js"></script>
</body>
</html>